<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h5 class="card-header">Seller: {{isLogin ? 'Login': 'Register'}}</h5>
        <div class="card-body">
            <div *ngIf="isLogin">
                <app-login></app-login>
            </div>
            <div *ngIf="!isLogin">
                <app-register></app-register>
            </div>
            <div class="form-button mt-2">
                <a [routerLink]="" (click)="isLogin = !isLogin">
                    Click here for {{!isLogin ? 'Login': 'Register'}}
                </a>
            </div>
        </div>

    </div>
</div>
